
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.login_out{
  width: 200px;
  height: 100px;
  background: #ccc;
}

.home_work{
  width: 100%;
  height: 20px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  margin: 22px 0;
  font-weight: 600;
  border-right: 1px solid gray;
}

.user_message{
  color:#fff;
  float:right;
}
.user_message span{
  margin: 0 20px;
  cursor: pointer;
}



.staff_add {
  padding: 15px 15px 15px 50px;
}
.staff_add .add_out{
  width: 100%;
  height: 44px;
  line-height: 44px; 
  overflow: hidden;
}
.staff_add .add_out strong{
  width: 100px;
  float: left;
}
.add_out .ant-select,.add_out .ant-input,.add_out .ant-picker{
  margin:0 15px;
}
.staff_add button{
  margin-top: 30px
}